# mkdocs.yml
site_name: Ash & Light
docs_dir: docs
site_dir: site

theme:
  name: material
  logo: images/logo.png
  features:
    - navigation.sections
    - navigation.expand
    - navigation.tracking

plugins:
  - search
  - include-markdown

extra_css:
  - stylesheets/extra.css

nav:
  - Codex: index.md
