.md-header__button.md-logo {
  display: none;
}

.md-nav__title {
  font-size: 0;
  padding: 0;
  margin: 0;
}

.md-nav__title::before {
  content: "";
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  width: 100%;
  height: 120px;
  margin: 0;
}

.md-sidebar--primary .md-sidebar__scrollwrap {
  background: #f6f6f6;
  border-right: 1px solid #e0e0e0;
}

:root {
  --md-primary-fg-color: #3a332f;
}

.md-nav--primary .md-nav__link:hover,
.md-nav--primary .md-nav__link:focus,
.md-nav--primary .md-nav__item--active > .md-nav__link,
.md-nav--primary .md-nav__link--active {
  color: #4a3322 !important;
}

.md-sidebar__scrollwrap,
.md-sidebar__inner {
  scrollbar-width: thin;
  scrollbar-color: #4a3322 #f6f6f6;
}

.md-sidebar__scrollwrap::-webkit-scrollbar,
.md-sidebar__inner::-webkit-scrollbar {
  width: 10px;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-track,
.md-sidebar__inner::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb,
.md-sidebar__inner::-webkit-scrollbar-thumb {
  background-color: #4a3322;
  border-radius: 6px;
  border: 2px solid #f6f6f6;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover,
.md-sidebar__inner::-webkit-scrollbar-thumb:hover {
  background-color: #4a3322;
}