.md-header__button.md-logo {
  display: none;
}

.md-nav__title {
  font-size: 0;
  padding: 0;
  margin: 0;
}

.md-nav__title::before {
  content: "";
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 100%;
  height: 120px;
  margin: 0;
}

.md-sidebar--primary .md-sidebar__scrollwrap {
  background: #f6f6f6;
  border-right: 1px solid #e0e0e0;
}

.md-nav--primary .md-nav__link:hover,
.md-nav--primary .md-nav__link:focus,
.md-nav--primary .md-nav__item--active > .md-nav__link,
.md-nav--primary .md-nav__link--active {
  color: #4a3322;
}

.md-sidebar--primary .simplebar-scrollbar:before {
  background-color: #4a3322;
}

.md-sidebar--primary .simplebar-scrollbar:hover:before,
.md-sidebar--primary .simplebar-scrollbar.simplebar-visible:before {
  background-color: #4a3322;
}