.md-header__button.md-logo {
  display: none;
}

.md-nav__title {
  font-size: 0;
  padding: 1.25rem 1rem 0.75rem;
}

.md-nav__title::before {
  content: "";
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  width: 100%;
  height: 120px;
}

.md-nav__title {
  margin-top: 0;
}

.md-nav__title::before {
  margin-top: -8px;
}





